<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @target.grade %>
</p>

<p>
  <strong>Year:</strong>
  <%= @target.year %>
</p>

<%= link_to 'Edit', edit_target_path(@target) %> |
<%= link_to 'Back', targets_path %>
